body{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap'); 
body{
     font-family: 'Lato', sans-serif; 
}
.div1{
    position: relative;
    width: 100%;
}
.nametag1{
    position: absolute;
    top: 170px;
    right: 310px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 60px;
    font-weight: 500;
    color: rgb(66, 64, 64);
}
.mainimg1{
    width: 1035px;
    height: 500px;
}
.div1 h3{
    top: 270px;
    right: 390px;
    position: absolute;
    color: whitesmoke;
    font-weight: 500px;
}

.div1 button{
    border-radius: 20px;
    position: absolute;
    top: 350px;
    right: 460px;
    padding: 7px;
    font-weight: 700;
    border-color: bisque;
    background-color: bisque;
    transition: 0.5s;
    font-size: 15px;
    color: rgb(65, 55, 18);
    
}
.div1 button:hover{
    transition: 0.5s;
    color: rgb(63, 53, 53);
    background-color: beige;
}

li{
    list-style: none;
    display: inline;
    margin-left: 15px;
    padding: 10px;
    transition: 0.5s;
    font-weight: 1000px;
}
.menu{
    top: 40px;
    position: absolute;
    right: 5px;
    font-weight: 750;
    color: rgb(82, 88, 88);
  
}
#li1:hover{
    color: black;
    text-shadow: 10px;
    background-color: rgb(154, 235, 235);
    border-radius: 40px;
    
}
.logo{
    position: absolute;
    top: 0px;
}
.div2{
    background-color: rgb(199, 238, 251);
    position:absolute;
    top: 500px;
    width: 100%;
    height: 50%;
}
/*.button{
    position: sticky;
}*/
.search{
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    opacity: 60%;
    box-flex-group: rgb(200, 224, 232); ;
}
.tag1{
    font-size: 50px;
    margin-left: 20px;
    
}
.tag2{
    font-size: 35px;
    top: 74px;
    position: absolute;
    margin-left: 20px;
    /*color: rgb(11, 195, 167);*/
}
.tag3{
    font-size: 13px;
    top: 135px;
    position: absolute;
    margin-left: 20px;
    color: rgb(18, 164, 145);
}
.input1{
    margin-left: 590px;
    border-radius: 20px;
    border-style: solid;
    padding: 20px;
    width: 35%;
    top: 80px;
    position: absolute;
}
.div3{
    background-color: beige;
    position: absolute;
    width: 100%;
    top: 700px;
    
}
.gateway{
    margin-left: 40px;
    margin-top: 15px;
    transition: 0.5s;
    display: inline-block;
    
}
.gateway img{
    border-radius: 10px;
}
.gateway p{
    font-weight: 700;
    
}
#p{
    color: red;
    position: absolute;
    top: 337px;
}
#p4{
    color: red;
    position: absolute;
    top: 337px;
}
.gateway:hover{
    display: inline-block;
    transition: 0.5s;
    
}
.tajmahal{
    display: inline-block;
    margin-left: 40px;
    margin-top: 35px;
    transition: 0.5s;
    
}
.tajmahal img{
    border-radius: 10px;
}
.tajmahal p{
    font-weight: 700;
}
#p1{
    color: red;
    position: absolute;
    top: 337px;
}
.temple{
    display: inline-block;
    margin-left: 40px;
    margin-top: 35px;
    transition: 0.5s;
}
.temple img{
    border-radius: 10px;
}
.temple p{
    font-weight: 700;
}
#p2{
    color: red;
    position: absolute;
    top: 337px;
}
#p3{
    color: red;
    position: absolute;
    top: 337px;
}
.munnar{
    display: inline-block;
    margin-left: 40px;
    margin-top: 35px;
    transition: 0.5s;
}
.munnar img{
    border-radius: 10px;
}
.munnar p{
    font-weight: 700;
}
.manali{
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 35px;
    transition: 0.5s;
}
.manali img{
    border-radius: 10px;
}
.manali p{
    font-weight: 700;
}
.tajmahal:hover{
    display: inline-block;
     transition: 0.5s;
     
}
.manali:hover{
    display: inline-block;
    transition: 0.5s;
}
.munnar:hover{
    display: inline-block;
    transition: 0.5s;
}
.temple:hover{
    display: inline-block;
    transition: 0.5s;
}